{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}


{% block body %}

 {% block navbar %}
        
        <nav id="mainNav" class="navbar sticky-top navbar-expand-sm fixed-top navbar-light scrolling-navbar" style="position:fixed;">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav container-fluid">
                <div class="d-flex justify-content-start col-sm-4">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                </div>


                <h1 class="col-sm d-flex justify-content-center col-sm-4">Callmehappiness</h1>


                <div class="d-flex justify-content-end col-sm-4">
                <li class="nav-item">
                    <a class="nav-link" href="#">Instagram</a>
                </li>
                </div>

               
                </ul>
            </div>
        </nav>
         

        {% endblock %}

<div class="wrapper" style="position:relative;height:550px;top:0px">
<div id="carousselExampleFade" class="container-fluid carousel slide carousel-fade " data-ride="carousel" data-pause="false" data-interval="10000" style="padding:0px;position:absolute;top:0;left:0;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" style=" height:500px;padding-bottom:50px" src="https://picsum.photos/1200/500?random=1" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:500px;padding-bottom:50px" src="https://picsum.photos/1200/500?random=2" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height:500px;padding-bottom:50px" src="https://picsum.photos/1200/500?random=3" alt="Third slide">
    </div>
  </div>
</div>
</div>

<div class="container-fluid text-center">
  <h1>Welcome</h1>
</div>


<div class="container" style="padding-top:50px;padding-bottom:50px;">
 <div class="row">
    <div class="col-8"><img class="d-block w-100"  src="https://picsum.photos/1200/500?random=4" alt="Third slide"></div>
    <div class="col-4"></div>
  </div>
</div>


<div class="container-fluid text-center" style="padding-bottom:50px;">
  <h1>Mes Coups de Coeur</h1>
</div>

<div>
    {{ render(controller(
        'App\\Controller\\ArticleController::recentArticles',
        
    )) }}
</div>






<div class="container">
<div class="row">

<div class="col-md-4 text-center">
<figure>
  <img src="https://picsum.photos/1200/500?random=13" class="img-fluid"/>
  <figcaption><h1 style="padding-top:15px;">Aute dolore ad cillum ipsum cillum elit adipisicing anim voluptate adipisicing cillum.</h1></figcaption>
</figure>
</div>

<div class="col-md-8 text-center">
<figure>
  <img src="https://picsum.photos/1200/500?random=14" class="img-fluid"/>
  <figcaption><h1 style="padding-top:15px;">Recette</h1></figcaption>
</figure>
</div>

        
  

</div>
</div>

{% endblock %}

       {% block footer %}
        <footer class="page-footer font-small pt-4" style="background-color:#2E2E2E;color:#ffffff ">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href=""> Callmehappiness.fr</a>
        </div>
        </footer>
                
        {% endblock %}