<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        

        {% block body %}

        {% endblock %}

        {% block footer %}
        <footer class="page-footer font-small pt-4" style="background-color:#2E2E2E;color:#ffffff ">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href=""> Callmehappiness.fr</a>
        </div>
        </footer>
        
        {% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
