{% extends 'base.html.twig' %}

{% block title %} article 1{% endblock %}

{% block body %}
<div class="container" style="padding-top:150px;">

    <div class="">
    </div>

    
        <figure>
        <img src="https://picsum.photos/1200/500?random=14" class="img-fluid"/>
        <figcaption><h1 style="padding-top:15px;">Recette</h1></figcaption>
        </figure>

        <div class="container">

        <p> Nostrud eiusmod ipsum laboris labore pariatur sunt in laboris quis. Sunt Lorem sint ipsum pariatur elit aliqua dolor sit eu. Ullamco cillum irure anim laborum qui magna commodo esse eiusmod magna. Nostrud ullamco consectetur nisi sit. Laboris aliqua nulla veniam id dolore adipisicing minim magna anim reprehenderit ullamco eiusmod pariatur. Eu voluptate Lorem ea irure eu ipsum aliqua est anim dolore irure.</p>

        </div>

        <figure>
        <img src="https://picsum.photos/1200/500?random=14" class="img-fluid"/>
        <figcaption><h1 style="padding-top:15px;">Recette</h1></figcaption>
        </figure>
    

</div>
{% endblock %}
